.fuenteDatos {
    display: flex;
    gap: 0.5rem;
}

@media (min-width: 600px) {
    .fuenteDatos {
        flex-direction: row;
    }
}
@media (max-width: 600px) {
    .fuenteDatos {
        flex-direction: column;
        border-bottom: 1px solid white;
        margin-bottom: 1rem;
    }
}
