<!-- Modal -->
<div class="modal fade" id="loginModal">
    <div class="modal-dialog modal-dialog-centered" style="width: 18rem;">
        <div class="modal-content loginForm">
            <div class="login">
                <h2>Log in</h2>
                <form [formGroup]="formLogin" (ngSubmit)="onSubmit()">
                    <div>
                        <label class="form-label">Email</label>
                        <input type="text" class="form-control" formControlName="email">
                    </div>
                    <div>
                        <label class="form-label">Password</label>
                        <input type="password" class="form-control" formControlName="password">
                    </div>
                    <input class="btn btn-primary w-100" type="submit" value="Submit" data-bs-dismiss="modal">
                </form>
                <button class="btn btn-info w-100" (click)="onClick()" data-bs-dismiss="modal"><i class="bi bi-google"></i> Log in with Google</button>
            </div>
        </div>
    </div>
</div>
