<!-- Modal -->
<div class="modal fade" id="loginModal">
    <div class="modal-dialog modal-dialog-centered mx-auto" style="width: 18rem;">
        <div class="modal-content loginForm">
            <div class="login">
                <h2>Log in</h2>
                <form [formGroup]="formLogin" (ngSubmit)="onSubmit()">
                    <div>
                        <label class="form-label">Email</label>
                        <input type="email" class="form-control" formControlName="email" required>
                    </div>
                    <div>
                        <label class="form-label">Password</label>
                        <input type="password" class="form-control" formControlName="password" required>
                    </div>
                    <input class="btn btnPrimary w-100" type="submit" value="Submit" data-bs-dismiss="modal" [disabled]="!formLogin.valid">
                </form>
                <button class="btn btn-danger w-100" (click)="onClick()" data-bs-dismiss="modal"><i class="bi bi-google"></i> Log in with Google</button>
                <a (click)="openSignupModal()" data-bs-dismiss="modal" class="link" style="cursor: pointer;">Don't have an account yet? Sign up here!</a>
            </div>
        </div>
    </div>
</div>
<app-register></app-register>