
<app-navbar></app-navbar>
<div *ngIf="user" class="fondo-perfil">
    <div> 
        <div class="imagen-perfil">
            <div style="font-size: 2em;">Welcome, {{user.email}}!</div>
            <img src="assets\bills.jpg" class="img-fluid mx-auto" width="300"> 
        </div>
    </div>
    <div class="p-4">
        <h4>Continue reading</h4>
        <div class="lista-mangas">
            <div #listaMangas *ngFor="let manga of [1,2,3,4,5,6,7,8,9,10,11,12]" class="card bg-dark manga">
                <img [src]="'https://via.placeholder.com/200x300?text='+manga" class="card-img-top" alt="..." style="background-color: white; height: 250px;">
                <div class="card-body d-flex flex-column p-0">
                    <div class="p-2">
                        <h5 class="card-title" style="font-size: 1rem; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;">{{manga}}</h5>
                    </div>
                    <button type="button" class="btn btnPrimary mx-auto w-100 mt-auto" style="border-top-left-radius: 0; border-top-right-radius: 0;">Watch</button>
                </div>
            </div>
        </div>
    </div>
    <div class="p-4">
        <h4>Recommended</h4>
        <div class="lista-mangas">
            <div #listaMangas *ngFor="let manga of [1,2,3,4,5,6,7,8,9,10,11,12]" class="card bg-dark manga">
                <img [src]="'https://via.placeholder.com/200x300?text='+manga" class="card-img-top" alt="..." style="background-color: white; height: 250px;">
                <div class="card-body d-flex flex-column p-0">
                    <div class="p-2">
                        <h5 class="card-title" style="font-size: 1rem; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;">{{manga}}</h5>
                    </div>
                    <button type="button" class="btn btnPrimary mx-auto w-100 mt-auto" style="border-top-left-radius: 0; border-top-right-radius: 0;">Watch</button>
                </div>
            </div>
        </div>
    </div>
    <div class="p-4">
        <h4>Favorites</h4>
        <div class="lista-mangas">
            <div #listaMangas *ngFor="let manga of [1,2,3,4,5,6,7,8,9,10,11,12]" class="card bg-dark manga">
                <img [src]="'https://via.placeholder.com/200x300?text='+manga" class="card-img-top" alt="..." style="background-color: white; height: 250px;">
                <div class="card-body d-flex flex-column p-0">
                    <div class="p-2">
                        <h5 class="card-title" style="font-size: 1rem; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;">{{manga}}</h5>
                    </div>
                    <button type="button" class="btn btnPrimary mx-auto w-100 mt-auto" style="border-top-left-radius: 0; border-top-right-radius: 0;">Watch</button>
                </div>
            </div>
        </div>
    </div>
    
</div>