.perfil{
  display: flex;
  flex-direction: column;
}

.imagen-perfil {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
  padding-bottom: 0;
  margin-bottom: 2rem;
}

.imagen-perfil img {
  border: 5px solid black;
  border-radius: 50%;
  width: 200px;
}

@media (min-width: 600px) {
  .imagen-perfil img {
    display: none;
  }
}

.listaMangasDiv {
  position: relative; 
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.listaMangasDiv .listaMangasContainer{
  position: relative; 
  display: flex;
  background: var(--primary-color);
  overflow: hidden;
  border-radius: 1rem;
}

.lista-mangas {
  position: relative;
  display: flex; 
  overflow-x: scroll;
  overflow-y: hidden;
  width: 100%;
  flex-wrap: nowrap;
  gap: 2rem;
  scroll-snap-type: x mandatory;
  margin: .5rem;
}

.lista-mangas::-webkit-scrollbar {
  display: none;
}

.arrow {
  position: absolute;
  cursor: pointer;
  font-size: 2rem;
  z-index: 1;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  padding: 0.5rem;
}

.arrow.arrowLeft {
  left: 0;
}
.arrow.arrowRight {
  right: 0;
}

.manga {
  flex: 0 0 12rem;
  scroll-snap-align: start;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  transition: all .2s ease-in-out;
}

.manga:hover {
  transform: scale(1.1);
}

@media (max-width: 600px) {
  .imagen-perfil img {
    width: 100px;
  }
  .listaMangasDiv {
    padding: 0;
    margin-bottom: 1rem;
  }
  .listaMangasDiv h4{
    margin-left: 1rem;
  }
  .listaMangasDiv .listaMangasContainer{
    border-radius: 0;
    border: none;
  }
  .arrow {
    display: none;
  }
}