
<app-navbar></app-navbar>
<div *ngIf="user" class="perfil">
    <div class="imagen-perfil">
        <img [src]="profilePicture" class="img-fluid mx-auto"> 
        <h3>Welcome, {{user.email}}!</h3>
    </div>
    <div class="listaMangasDiv" *ngIf="historial.length > 0">
        <h4>Continue reading</h4>
        <div class="listaMangasContainer">
            <button class="arrow arrowLeft" (click)="desplazarLista('historyMangas',true)" style="border: none; color: white;">
                <i class="bi bi-arrow-left"></i>
            </button>
            <div class="lista-mangas" id="historyMangas">
                <a *ngFor="let manga of historial" class="card bg-dark manga" [href]="verMangaLink(manga.originURL)">
                    <img [src]="manga.img" class="card-img-top" alt="..." style="background-color: white; height: 300px;">
                    <div class="card-body d-flex flex-column p-0">
                        <div class="p-2">
                            <h5 class="card-title" style="font-size: 1rem; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;">{{manga.name}}</h5>
                        </div>
                    </div>
                </a>
            </div>
            <button class="arrow arrowRight" (click)="desplazarLista('historyMangas',false)" style="border: none; color: white;">
                <i class="bi bi-arrow-right"></i>
            </button>
        </div>
    </div>
    <div class="listaMangasDiv" *ngIf="recomendados.length > 0">
        <h4>Recommended for you</h4>
        <div class="listaMangasContainer">
            <button class="arrow arrowLeft" (click)="desplazarLista('recommendedMangas',true)" style="border: none; color: white;">
                <i class="bi bi-arrow-left"></i>
            </button>
            <div class="lista-mangas" id="recommendedMangas">
                <a *ngFor="let manga of recomendados" class="card bg-dark manga" [href]="verManga(manga.id)">
                    <img [src]="backend + manga.img" class="card-img-top" alt="..." style="background-color: white; height: 300px;">
                    <div class="card-body d-flex flex-column p-0">
                        <div class="p-2">
                            <h5 class="card-title" style="font-size: 1rem; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;">{{manga.name}}</h5>
                        </div>
                    </div>
                </a>
            </div>
            <button class="arrow arrowRight" (click)="desplazarLista('recommendedMangas',false)" style="border: none; color: white;">
                <i class="bi bi-arrow-right"></i>
            </button>
        </div>
    </div>
    <div class="listaMangasDiv" *ngIf="favoritos.length > 0">
        <h4>Bookmarks</h4>
        <div class="listaMangasContainer">
            <button class="arrow arrowLeft" (click)="desplazarLista('bookmarksMangas',true)" style="border: none; color: white;">
                <i class="bi bi-arrow-left"></i>
            </button>
            <div class="lista-mangas" id="bookmarksMangas">
                <a *ngFor="let manga of favoritos" class="card bg-dark manga" [href]="verMangaLink(manga.originURL)">
                    <img [src]="manga.img" class="card-img-top" alt="..." style="background-color: white; height: 300px;">
                    <div class="card-body d-flex flex-column p-0">
                        <div class="p-2">
                            <h5 class="card-title" style="font-size: 1rem; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;">{{manga.name}}</h5>
                        </div>
                    </div>
                </a>
            </div>
            <button class="arrow arrowRight" (click)="desplazarLista('bookmarksMangas',false)" style="border: none; color: white;">
                <i class="bi bi-arrow-right"></i>
            </button>
        </div>
    </div>
    <div class="listaMangasDiv" *ngIf="topmangas.length > 0">
        <h4>Top site mangas</h4>
        <div class="listaMangasContainer">
            <button class="arrow arrowLeft" (click)="desplazarLista('topsiteMangas',true)" style="border: none; color: white;">
                <i class="bi bi-arrow-left"></i>
            </button>
            <div class="lista-mangas" id="topsiteMangas">
                <a *ngFor="let manga of topmangas" class="card bg-dark manga" [href]="verMangaLink(manga.originURL)">
                    <img [src]="manga.img" class="card-img-top" alt="..." style="background-color: white; height: 300px;">
                    <div class="card-body d-flex flex-column p-0">
                        <div class="p-2">
                            <h5 class="card-title" style="font-size: 1rem; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;">{{manga.name}}</h5>
                        </div>
                    </div>
                </a>
            </div>
            <button class="arrow arrowRight" (click)="desplazarLista('topsiteMangas',false)" style="border: none; color: white;">
                <i class="bi bi-arrow-right"></i>
            </button>
        </div>
    </div>

    <div *ngIf="usergenres.length > 0">
        <div class="listaMangasDiv" *ngFor="let genre of usergenres">
            <h4>{{genre.nombre}}</h4>
            <div class="listaMangasContainer">
                <button class="arrow arrowLeft" (click)="desplazarLista('topsiteMangas',true)" style="border: none; color: white;">
                    <i class="bi bi-arrow-left"></i>
                </button>
                <div class="lista-mangas" id="topsiteMangas">
                    <a *ngFor="let manga of genre.mangas" class="card bg-dark manga" [href]="verManga(manga.id)">
                        <img [src]="backend + manga.img" class="card-img-top" alt="..." style="background-color: white; height: 300px;">
                        <div class="card-body d-flex flex-column p-0">
                            <div class="p-2">
                                <h5 class="card-title" style="font-size: 1rem; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;">{{manga.name}}</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <button class="arrow arrowRight" (click)="desplazarLista('topsiteMangas',false)" style="border: none; color: white;">
                    <i class="bi bi-arrow-right"></i>
                </button>
            </div>
        </div>
    </div>
</div>