.perfil{
  display: flex;
  flex-direction: column;
  background: url('/assets/fondo.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.imagen-perfil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2em;
    padding-bottom: 0;
}

.imagen-perfil img {
    border: 5px solid black;
    border-radius: 50%;
}

.listaMangasDiv {
  position: relative; 
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.listaMangasDiv .listaMangasContainer{
  position: relative; 
  display: flex;
  background: var(--primary-color);
  overflow: hidden;
  border-radius: 1rem;
}

.lista-mangas {
  position: relative;
  display: flex; 
  overflow-x: scroll;
  overflow-y: hidden;
  width: 100%;
  flex-wrap: nowrap;
  gap: 2rem;
  scroll-snap-type: x mandatory;
  margin: .5rem;
}

.lista-mangas::-webkit-scrollbar {
  display: none;
}

.arrow {
  position: absolute;
  cursor: pointer;
  font-size: 2rem;
  z-index: 1;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  padding: 0.5rem;
}

.arrow.arrowLeft {
  left: 0;
}
.arrow.arrowRight {
  right: 0;
}

.manga {
  flex: 0 0 12rem;
  scroll-snap-align: start;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  transition: all .2s ease-in-out;
}

.manga:hover {
  transform: scale(1.1);
}
