
<app-navbar></app-navbar>
<div *ngIf="user" class="fondo-perfil">
    <div> 
        <div class="imagen-perfil">
            <div style="font-size: 2em;">Welcome, {{user.email}}!</div>
            <img src="assets\bills.jpg" class="img-fluid mx-auto" width="300"> 
        </div>
    </div>
    <div class="p-1" *ngIf="historial.length > 0">
        <h4>Continue reading</h4>
        <div style="position: relative; display: flex;">
            <button class="arrow arrowLeft" (click)="desplazarLista(true)" style="border: none; color: white;">
                <i class="bi bi-arrow-left"></i>
            </button>
            <div class="lista-mangas" id="listaMangas">
                <a *ngFor="let manga of historial" class="card bg-dark manga" [href]="verMangaLink(manga.url)">
                    <img [src]="manga.img" class="card-img-top" alt="..." style="background-color: white; height: 300px;">
                    <div class="card-body d-flex flex-column p-0">
                        <div class="p-2">
                            <h5 class="card-title" style="font-size: 1rem; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;">{{manga.name}}</h5>
                        </div>
                    </div>
                </a>
            </div>
            <button class="arrow arrowRight" (click)="desplazarLista(false)" style="border: none; color: white;">
                <i class="bi bi-arrow-right"></i>
            </button>
        </div>
    </div>
    <div class="p-1" *ngIf="recomendados.length > 0">
        <h4>Recommended for you</h4>
        <div style="position: relative; display: flex;">
            <button class="arrow arrowLeft" (click)="desplazarLista(true)" style="border: none; color: white;">
                <i class="bi bi-arrow-left"></i>
            </button>
            <div class="lista-mangas" id="listaMangas">
                <a *ngFor="let manga of recomendados" class="card bg-dark manga" [href]="verMangaLink(manga.mangaURL)">
                    <img [src]="manga.img" class="card-img-top" alt="..." style="background-color: white; height: 300px;">
                    <div class="card-body d-flex flex-column p-0">
                        <div class="p-2">
                            <h5 class="card-title" style="font-size: 1rem; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;">{{manga.name}}</h5>
                        </div>
                    </div>
                </a>
            </div>
            <button class="arrow arrowRight" (click)="desplazarLista(false)" style="border: none; color: white;">
                <i class="bi bi-arrow-right"></i>
            </button>
        </div>
    </div>
    <div class="p-1" *ngIf="favoritos.length > 0">
        <h4>Favorites</h4>
        <div style="position: relative; display: flex;">
            <button class="arrow arrowLeft" (click)="desplazarLista(true)" style="border: none; color: white;">
                <i class="bi bi-arrow-left"></i>
            </button>
            <div class="lista-mangas" id="listaMangas">
                <a *ngFor="let manga of favoritos" class="card bg-dark manga" [href]="verMangaLink(manga.url)">
                    <img [src]="manga.img" class="card-img-top" alt="..." style="background-color: white; height: 300px;">
                    <div class="card-body d-flex flex-column p-0">
                        <div class="p-2">
                            <h5 class="card-title" style="font-size: 1rem; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;">{{manga.name}}</h5>
                        </div>
                    </div>
                </a>
            </div>
            <button class="arrow arrowRight" (click)="desplazarLista(false)" style="border: none; color: white;">
                <i class="bi bi-arrow-right"></i>
            </button>
        </div>
    </div>
</div>