<!-- Modal -->
<div class="modal fade" id="licenseModal">
    <div class="modal-dialog modal-xl modal-dialog-scrollable modal-dialog-centered mx-auto">
        <div class="modal-content bg-dark">
            <div class="modal-header">
                <h5 class="modal-title">Terms of usage</h5>
            </div>
            <div class="modal-body" style="background: #fff; color: #000;">
                <pre>
                    Terms and Conditions

Terms of Service Consent
By using our service, users corroborate the acceptance of our Terms, our Privacy Policy and other policies, rules or codes of conduct related to the use of our service by the user.

Multimedia Application is an application that allows you to view images from the Internet through sources, we cannot guarantee the stability or operation of these sources.

It is important for us to mention that the content is NOT the property of Multimedia Application, Multimedia Application only facilitates its viewing. The content is provided by the website and/or its users.

Multimedia Application has no control over, and assumes no responsibility for, the content, privacy policies, or practices of third-party websites or services. Furthermore, you acknowledge and agree that Multimedia Application shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with the use of or reliance on any Content, goods or services available through any such websites or services.

Please read our Terms and Privacy Policy before using our service. If you do not agree to the Terms and Privacy Policy, you should not use the Service.

Age
You must affirm to us that you are at least eighteen (18) years of age, or an emancipated minor, or that you have the consent of your legal guardian or guardian, and that you are of the full use of your faculties to accept the terms mentioned above in our terms. If you are under eighteen (18) years of age, please do not use the Service.

Privacy Policy

Data collection information
We use anonymous identifiers in order to offer a better experience to our users. Email and tokens are associated with these anonymous identifiers to offer a better user experience.

Thirdparty services
We use Google's "Firebase" tracking service for our App. Firebase uses tracking technologies that allow us to record and analyze user interaction with the app, for example: the frequency and duration of sessions and their navigation through the different views of the application.
Different third-party services are used to collect data that is useful to us: crash analytics, session analytics and ad distribution, the policies of these services are listed below:
firebase

Disclaimer

“Multi-platform and multi-cloud application for downloading multimedia content”, hereinafter referred to as “Multimedia Application”, is a multimedia content reader, which collects and orders content provided by the public web for storage for later use.

Multimedia Application makes no warranties, express or implied, and hereby disclaims and denies any other warranties, including without limitation, the implied warranties or conditions of merchantability, fitness for a particular purpose, or non-infringement of intellectual property or any other violation. of the rights. In addition, Multimedia Application does not warrant or make any representations about the accuracy, likely results, or reliability of the use of the materials on its website or otherwise with respect to the materials or on any site linked to this site.
Multimedia Application can automatically block content if it does not meet the legal standards required by law.

Multimedia Application does not guarantee the availability of the content since it is obtained through third parties, the communities of translators and/or fans of different pages provide the content and Multimedia Application is only an Interpreter of these.
Multimedia Application only allows you to get images from Internet sites for your reading convenience.

Multimedia Application is not associated with any fansub service nor does it endorse its service.

The fonts are the responsibility of the users, which Multimedia Application can block if they violate our terms and conditions.

Copyright Disclaimer Under section 107 of the United States Copyright Act of 1976 : “Permitted "fair use" for purposes such as criticism, comment, news reporting, teaching , scholarship, education and research. Fair use is a use permitted by copyright law that might otherwise be infringing.

Disclaimer of copyright According to Article 148 of the Federal Copyright Law of Mexico : "Literary and artistic works already disclosed may be used, provided that the normal exploitation of the work is not affected, without the authorization of the owner of patrimonial right and without remuneration, invariably citing the source and without altering the work…”.

This website aggregates content from other sources for informational purposes, and is in no way intended to infringe the copyright or business of any entity.
All content posted on this site or app is used under these fair use policies. All photos, media and articles are copyright of their original owners.
Images are the property of their respective copyright holder. When possible, the corresponding accreditation is indicated. Due to image alterations, ownership of many images cannot be verified. In cases where ownership is known, the corresponding credit is indicated.

                </pre>
            </div>
            <div class="modal-footer">
                <span>By using this app, you acknowledge this terms</span>
                <button type="button" class="btn btn-danger ms-auto" data-bs-dismiss="modal" (click)="guardarLicencia()">Accept & continue</button>
            </div>
        </div>
    </div>
</div>