<div *ngIf="!user && !cargando;" style="padding: 1rem;">
    <div class="homescreen">
        <div>
            <div class="logo">
                <img src="/assets/personaje.png" alt="Bootstrap" width="70">
                <span style="font-size: 1.5rem;">
                    Aplicacion multiplataforma y multinube <br> para la descarga de contenido multimedia
                </span>
            </div>
            <form #formularioBusqueda="ngForm" (ngSubmit)="formularioBusqueda.valid && buscar()" class="input-group" role="search">
                <input [(ngModel)]="manga" #mangaInput="ngModel" name="mangaInput" required class="form-control " type="search" placeholder="Search a manga...">
                <button type="submit" class="btn btnPrimary"><i class="bi bi-search"></i></button>
            </form>
        </div>
        <div class="topmangas">
            <span class="text-decoration-underline">Top mangas:</span>
            <ul class="busquedas">
                <a *ngFor="let manga of busquedasPopulares" [href]="verMangaLink(manga.originURL)">{{manga.name}}</a>
            </ul>
        </div>
    </div>
</div>

<app-account *ngIf="user && !cargando;"></app-account>
<app-site-config-modal></app-site-config-modal>