.logo {
    display: flex;
    gap: 1rem;
    align-items: center;
}

a {
    text-decoration: none;
    color: #ccc;
}

a:hover {
    color: #eee;
}

.busquedas {
    font-size: 1em;
    color: #ccc;
}

.busquedas ul {
    display: grid;
    grid-template-columns: repeat(5, auto);
    gap: 1rem;
    padding: 0;
    margin: 0;
}

.busquedas ul a {
    white-space: nowrap; 
    text-overflow: ellipsis; 
    overflow: hidden;
}