<div class="h-100 d-flex flex-column p-4">
    <div class="buscador d-flex flex-column gap-2 w-100 my-auto">
        <span class="titulo"> <i class="bi bi-book-half"></i> Manganelo Scrapper</span>
        <form class="input-group" role="search">
            <input class="form-control " type="search" placeholder="Buscar un manga...">
            <button class="btn btn-outline-secondary" type="submit"><i class="bi bi-search"></i></button>
        </form>
        <div class="busquedas mt-2">
            <span class="text-decoration-underline">Top busquedas:</span>
            <ul>
                <a href="">One Piece</a>
                <a href="">Blue Lock</a>
                <a href="">My Hero Academia Season 6</a>
                <a href="">Attack on Titan</a>
                <a href="">Naruto: Shippuden</a>
                <a href="">Boruto: Naruto Next Generations</a>
                <a href="">Tokyo Revengers: Christmas Showdown</a>
                <a href="">Demon Slayer: Kimetsu no Yaiba</a>
            </ul>
        </div>
    </div>
    <div class="d-flex align-items-center gap-2">
        <button class="btn btn-outline-secondary" type="button">Usar una cuenta</button>
        <div class="ms-auto">
            Aviso de privacidad ©2023
        </div>
    </div>
</div>