<div class="siteFooter">
    <div style="display: flex; align-items: center; gap: 2rem; padding: 1rem;">
        <div *ngIf="!user" class="d-flex align-items-center gap-2">
            <button class="btn btnPrimary" type="button" (click)="login();">Log in <i class="bi bi-door-open"></i></button>  
        </div>
        <div *ngIf="user" class="d-flex align-items-center gap-2">
            <div style="display: flex; flex-direction: column; font-size: 0.7rem;">
                <span>Logged in as:</span>
                <span>{{ user.email }}</span>
            </div>
            <button class="btn btnPrimary" type="button" (click)="logOut();">Log out</button>   
        </div>
        <div class="ms-auto">
            <a (click)="licenseModal.mostrarLicencia()">Terms of usage ©2023</a>
        </div>
    </div>
    <app-user-license #licenseModal></app-user-license>
</div>