<div class="siteFooter">
    <div style="display: flex; align-items: center; gap: 2rem; padding: 1rem;">
        <div *ngIf="!user" class="d-flex align-items-center gap-2">
            <button class="btn btnPrimary" type="button" (click)="login();">Log in</button>
            <button class="btn btnPrimary" type="button" (click)="register();">Sign up</button>    
        </div>
        <div *ngIf="user" class="d-flex align-items-center gap-2">
            <a class="btn btnPrimary" href="/home">Logged in as: {{ user.email }}</a>
            <button class="btn btnPrimary" type="button" (click)="logOut();">Log out</button>   
        </div>
        <div class="ms-auto">
            <a (click)="licenseModal.mostrarLicencia()">Terms of usage ©2023</a>
        </div>
    </div>
    <app-user-license #licenseModal></app-user-license>
</div>