.fondo-perfil{
    background: none;/*url('/assets/fondo.jpg');*/
    background-size: cover;
    background-repeat: no-repeat;
}

.imagen-perfil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2em;
    padding-bottom: 0;
}

.imagen-perfil img {
    border: 5px solid black;
    border-radius: 50%;
}

.lista-mangas {
    display: flex; 
    overflow-x: scroll; 
    flex-wrap: nowrap;
    gap: 2rem;
    scroll-snap-type: x mandatory;
}

.lista-mangas::-webkit-scrollbar {
    height: 12px;
}

.lista-mangas::-webkit-scrollbar-thumb,
.lista-mangas::-webkit-scrollbar-track {
  border-radius: 92px;
}

.lista-mangas::-webkit-scrollbar-thumb {
  background: var(--bs-primary);
}

.lista-mangas::-webkit-scrollbar-track {
  background: var(--bs-gray);
}

.manga {
    flex: 0 0 12rem;
    scroll-snap-align: start;
    margin-bottom: 1rem;
}
