
<div class="fondo-perfil" style="height: 100%; margin: 0; padding: 0;">
    <div> 
        <div class="acciones">
            <button type="button" class="btn btn-primary p-2" style="margin-left: auto;">
                <span>Regresar</span>
                <i class="bi bi-android2"></i>
            </button>
        </div>
        <div class="imagen-perfil">
            <div style="font-size: 2em;">Bienvenido a tu perfil!</div>
            <img src="assets\bills.jpg" class="img-fluid mx-auto" width="300"> 
        </div>
    </div>
    
    <div class="p-5">
        <div class="list-group"> 
            <button type="button" class="list-group-item list-group-item-action active" aria-current="true">
                Nombre del Usuario:
            </button>
            <button type="button" class="list-group-item list-group-item-action">Nombre del Usuario:</button>
            <button type="button" class="list-group-item list-group-item-action">A third button item</button>
            <button type="button" class="list-group-item list-group-item-action">A fourth button item</button>
            <button type="button" class="list-group-item list-group-item-action" disabled>A disabled button item</button>
        </div>
    </div>
    
</div>