<!-- Modal -->
<div class="modal fade" id="signUpModal">
    <div class="modal-dialog modal-dialog-centered" style="width: 22rem;">
        <div class="modal-content signupForm">
            <div class="signUp">
                <h2>Sign up</h2>
                <form [formGroup]="formReg" (ngSubmit)="onSubmit()">
                    <div>
                        <label class="form-label">Email</label>
                        <input type="email" class="form-control" formControlName="email" required>
                    </div>
                    <div>
                        <label class="form-label">Password</label>
                        <input type="password" class="form-control" formControlName="password" required>
                    </div>
                    <div>
                        <label class="form-label">Confirm Password</label>
                        <input type="password" class="form-control" formControlName="confirmPassword" required>
                    </div>
                    <input [disabled]="!formReg.valid" type="submit" value="Create account!" class="btn btnPrimary">
                </form>
            </div>
        </div>
    </div>
</div>