<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #6f42c1;">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="/assets/personaje.png" alt="Bootstrap" width="70">
        </a>      
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="d-flex w-100" style="align-items: center;">
                <form #formularioBusqueda="ngForm" (ngSubmit)="formularioBusqueda.valid && buscarManga()" class="d-flex" role="search">
                    <input [(ngModel)]="manga" #mangaInput="ngModel" name="mangaInput" required class="form-control me-2" type="search" placeholder="Search a manga...">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
                <span class="ms-auto" style="font-size: 1.5rem;font-family: cursive;">
                    Aplicacion multiplataforma y multinube
                    para la descarga de contenido multimedia
                </span>
                <button *ngIf="!user" class="btn btn-success ms-auto" type="button" (click)="login()">Log in</button>
                <button *ngIf="user" class="btn btn-success ms-auto" type="button" (click)="verPerfil()">{{user.email}}</button>
                <div class="dropdown" style="display: none;">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <span style="font-size: 2rem;color: white;padding-left: 1rem;cursor: pointer;">
                            <i class="bi bi-gear-fill"></i>
                        </span>
                    </button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>