/* Colores */
:root {
    --base-color: 261;
    --base-saturation: 63%;
    --primary-color: hsl(var(--base-color), var(--base-saturation), 33%); 
    --secondary-color: hsl(var(--base-color), var(--base-saturation), 46%); 
    --button-color: hsl(var(--base-color), var(--base-saturation), 51%); 
    --button-hover-color: hsl(var(--base-color), var(--base-saturation), 60%); 
    --button-active-color: hsl(var(--base-color), var(--base-saturation), 70%);
    --background: url('/assets/fondo.jpg');
    --text-color: #FFF;
}

* {
    box-sizing: border-box;
}

html, body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 18px;
    height: 100%;
    margin: 0;
    color: var(--text-color);
    position: relative;
}

body::before {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;
    display: block;
    width: 100%;
    height: 100%;
    /* background-color: var(--background); */
    background: var(--background);
    background-position: center;
    background-size: cover;
    filter: blur(5px) brightness(0.4);
    transform: scale(1.1); 
}

a:hover {
    color: inherit;
}

app-root {
    display: flex;
    flex-direction: column;
    height: 100%;
}

app-home {
    margin-top: auto;
}

.btnPrimary {
    --bs-btn-color: var(--text-color);
    --bs-btn-bg: var(--button-color);
    --bs-btn-border-color: var(--button-color);
    --bs-btn-hover-color: var(--text-color);
    --bs-btn-hover-bg: var(--button-hover-color);
    --bs-btn-hover-border-color: var(--button-color);
    --bs-btn-focus-shadow-rgb: 60,153,110;
    --bs-btn-active-color: var(--text-color);
    --bs-btn-active-bg: var(--button-active-color);
    --bs-btn-active-border-color: var(--button-color);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: var(--text-color);
    --bs-btn-disabled-bg: var(--button-color);
    --bs-btn-disabled-border-color: var(--button-color);
}

a {
    --bs-link-color: var(--text-color);
    --bs-link-color-rgb: var(--text-color);
}

@media (max-width: 600px) {
    .btnPrimary {
        --bs-btn-padding-y: 0.25rem;
        --bs-btn-padding-x: 0.5rem;
        --bs-btn-font-size: 0.875rem;
        --bs-btn-border-radius: 0.25rem;
    }
}