<!-- Modal -->
<div class="modal fade" id="siteConfigModal">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered mx-auto">
        <div class="modal-content bg-dark">
            <div class="modal-header" style="background: var(--primary-color); color: var(--text-color); border: none;">
                <h5 class="modal-title">Modify app configuration</h5>
            </div>
            <div class="modal-body" style="background: var(--secondary-color); color: var(--text-color);">
                <div style="display: flex; flex-direction: column; gap: 1rem; justify-content: center;">
                    <div style="display: flex; flex-direction: column; align-items: center;">
                        <span>Chapter cache size: {{ mangaCacheSize }}</span>
                        <span>Extra files size: {{filesSize}}</span>
                        <span>Database size: {{dbSize}}</span>
                        <span>Mangas in DB: {{totalMangas}}</span>
                    </div>
                    <button type="button" class="btn btn-dark" (click)="favcolor.click()" style="display: flex; align-items: center; justify-content: center; gap: 1rem;">
                        🎨 Change theme color:
                        <input #favcolor type="color" id="favcolor" name="favcolor" [(ngModel)]="themeColor" (change)="switchTheme(favcolor.value)">
                    </button>
                    <button type="button" class="btn btn-primary" (click)="bgImageBtn.click()">
                        🎴 Change background image
                        <input hidden type="file" name="bgImageBtn" id="bgImageBtn" #bgImageBtn (change)="changeBackground(bgImageBtn.files![0])">
                    </button>
                    <button type="button" class="btn btn-success" (click)="populatingDBModal.show()" data-bs-dismiss="modal">🔍 Fill database with top mangas</button>
                    <button type="button" class="btn btn-warning" (click)="borrarCapitulosDB()">🧹 Clear viewed mangas cache</button>
                    <button type="button" class="btn btn-danger" (click)="borrarDB()">💥 Nuke manga database</button>
                </div>
            </div>
            <div class="modal-footer" style="background: var(--primary-color); color: var(--text-color); border: none;">
                <button type="button" class="btn btnPrimary ms-auto" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="populatingDBModal">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered mx-auto">
        <div class="modal-content bg-dark">
            <div class="modal-header" style="background: var(--primary-color); color: var(--text-color); border: none;">
                <h5 class="modal-title">Populating manga database</h5>
            </div>
            <div class="modal-body" style="background: var(--secondary-color); color: var(--text-color);">
                <div style="display: flex; flex-direction: column; gap: 1rem; justify-content: center;">
                    <div style="display: flex; flex-direction: column; align-items: center; gap: 1rem;">
                        <span>Total manga amount: {{totalMangas}}</span>
                        <div style="display: flex; gap: 1rem;">
                            <label for="mangaFetchAmount" >Amount to fetch:</label>
                            <input type="number" [(ngModel)]="mangaFetchAmount" name="mangaFetchAmount" id="mangaFetchAmount" style="border-radius: 10px;text-align: right;" value="100">
                        </div>
                        <span>
                            We will be fetching top mangas from your enabled sources one by one. This operation will take a while.
                        </span>
                        <div id="logContainer"></div>
                    </div>
                    <button type="button" class="btn btn-success" *ngIf="!filling" (click)="fillDatabase()">🔍 Start operation</button>
                    <button type="button" class="btn btn-danger" *ngIf="filling" (click)="cancelFill()">❌ Stop</button>
                </div>
            </div>
            <div class="modal-footer" style="background: var(--primary-color); color: var(--text-color); border: none;">
                <button type="button" class="btn btnPrimary ms-auto" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>