<app-navbar></app-navbar>
<div class="p-5" style="gap: 2rem; display: grid; grid-template-columns: repeat(auto-fit, 30rem);">
    <div class="resumen">
        <h1> {{ manga.name }}</h1>
        <img [src]="manga.image_url" alt="">
        <hr>
        <p class="card-text">
            Estrellas: {{manga.stars}} <br>
            Autor: {{manga.author}}
        </p>
    </div>
    <div>
        <div *ngIf="cargando">
            <div style="display: flex; align-items: center; justify-content: center; gap: 2rem; position: relative;">
                <div style="position: absolute; right: 50%+10rem;">Cargando...</div>
                <div style="width: 10rem; height: 10rem;" class="spinner-border" role="status" aria-hidden="true"></div>
            </div>
        </div>
        <div *ngIf="!cargando" class="capitulos">
            <h1>Tomos</h1>
            <ul>
                <li *ngFor="let capitulo of capitulos">
                    <a [href]="capitulo['Url']">{{ capitulo['Nombre'] }}</a>
                </li>
            </ul>
        </div>
        <div *ngIf="!cargando && capitulos.length < 1" class="text-center">
            No se encontraron capitulos.
        </div>
    </div>
</div>
