.manga-contenedor {
    padding: 1rem;
    gap: 2rem;
    display: grid;
    overflow: hidden;
    justify-content: center;
}

.pagination .page-link {
    background: #333;
    border: 1px solid gray;
    color: #FFF;
    cursor: pointer;
    font-size: .4rem;
}

.pagination .page-link:hover {
    background: #555;
}

.pagination .active .page-link {
    background: #FFF;
    color: #000;
}

@media (min-width: 600px) {
    .pagination .page-link {
        font-size: 1rem;
    }
    .manga-contenedor {
        display: grid;
        grid-template-columns: repeat(auto-fit, 45%);
        justify-content: space-evenly;
    }
}

.resumen {
    display: grid;
    grid-template-columns: repeat(auto-fit, 45%);
    overflow: hidden;
    word-wrap: break-word;
    justify-content: space-evenly;
}

.resumen .informacion{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.capitulos {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: center;
}

.capitulo {
    display: flex; 
    cursor: pointer;
    background: #333;
    border: 1px solid gray;
    text-overflow: ellipsis;
}

.capitulo:hover {
    background: #555;
}

.fuentes {
    overflow-y:scroll;
    height: 22rem;
}

.fuenteManga {
    display: flex;
    gap: 1rem;
    cursor: pointer;
    border-radius: 10px;
    background-color: #333;
    overflow: hidden;
    margin-top: .2rem;
}

.fuenteManga:hover {
    background-color: #555;
}

.info-adicional {
    padding-left: 1rem;
    padding-right: 1rem;
}

.characters{
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    gap: 1rem;
    justify-content: center;
}

.character {
    width: 100px;
}