<app-navbar></app-navbar>
<div class="p-4">
    <span>Showing search results for: <span style="font-weight: bold;"> {{ mangaBuscado }} </span></span>
    <hr>
    <div>
        <div *ngIf="cargando">
            <div style="display: flex; align-items: center; justify-content: center; gap: 2rem; position: relative;">
                <div style="position: absolute; right: 50%+10rem;">Loading...</div>
                <div style="width: 10rem; height: 10rem;" class="spinner-border" role="status" aria-hidden="true"></div>
            </div>
        </div>
        <div *ngIf="!cargando" style="display: grid; grid-template-columns: repeat(auto-fit,12rem); justify-content: space-evenly; gap: 2rem; width: 100%;">
            <a #listaMangas [href]="verMangaLink(manga.url)"  *ngFor="let manga of mangasEncontrados" class="card manga">
                <img [src]="manga.img" class="card-img-top" alt="..." style="background-color: white; height: 300px;">
                <div class="card-body d-flex flex-column p-0">
                    <div class="p-2">
                        <h5 class="card-title" style="font-size: 1rem; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;">{{manga.name}}</h5>
                    </div>
                    <div class="btn btnPrimary mx-auto w-100 mt-auto" style="border-top-left-radius: 0; border-top-right-radius: 0;">Watch</div>
                </div>
            </a>
        </div>
        <div *ngIf="!cargando && mangasEncontrados.length < 1" class="text-center">
            No search results.
        </div>
    </div>
</div>