<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Generador de Manga</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  </head>
  <body>
  <section class="section">
    <div class="container dosis bg-black">
      <div class="content has-text-centered">
      <h1 class="title whitetext">
        Generador de Manga
      </h1>
      <p class="subtitle whitetext">
        Programado por: <b>Equipo 11</b>
      </p>
    </div>
  </div>
    <br>

    <div class="container dosis">
        <div class="tile is-ancestor"align="center">
            <div class="tile is-vertical is-8">
              <div class="tile">
                <div class="tile is-parent is-vertical">
                  <article class="tile is-child box">
                    <div class="content has-text-centered">
                    <h1 class="title">
                        Acerca del autor: </h1>
                        <div class="card-image has-text-centered">
                        <figure class="image is-128x128 is-inline-block">
                            <img src="{{image_url}}">
                          </figure>
                        </div>

                    </div>
                      <div></div>
                      <p class="subtitle">
                        <ng-container>
                          <strong>Título: {{mangaName}}<br></strong>Autor: {{author}} <br>
                          <small>Estrellas: {{stars}}</small><br>
                        </ng-container>
                        
                      </p>
                  </article>
                </div>

              </div>
            
            </div>


            <div class="tile is-parent is is-vertical">
              <article class="tile is-child box">
                <h1 class="title">
                  Seleccionar Capítulos:
                  <input name="chapterRange" id="chapterRange" class="input" type="text" placeholder="Rango de capitulos, utiliza - y ,,,,">
                  <p class="subtitle">
                    <ng-container *ngFor = "let capitulo of capitulos">
                    <input type="checkbox">
                    <label>
                        {{capitulo.Nombre}}
                        <br>
                    </label>
                    </ng-container>
                    <br>
                  </p>
                </h1>
              </article>
              <div class="buttons">
                <button  class="button is-primary" (click)="download_chapters()">Descargar Capitulos Marcados</button>
              </div>
            </div>
    </div>
    </div>
  </section>
  </body>

  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>Proyecto Final</strong> by Equipo 11 Programación para Internet. The source code is licensed
        <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. Powered by <a href="https://bulma.io">Bulma</a>.
      </p>
    </div>
  </footer>
</html>
