<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Generador de Manga</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  </head>
  <body>
  <section class="section">
    <div class="container dosis bg-black">
      <div class="content has-text-centered">
      <h1 class="title whitetext">
        Generador de Manga
      </h1>
      <p class="subtitle whitetext">
        Porgramado por: <b>Equipo 11</b>
      </p>
    </div>
  </div>
    <br>

    <div class="container dosis">
        <div class="tile is-ancestor">
            <div class="tile is-vertical is-8">
              <div class="tile">
                <div class="tile is-parent is-vertical">
                  <article class="tile is-child box">
                    <h1 class="title">
                        Lo más descargado:
                      </h1>
                      <div></div>
                      <p class="subtitle">
                        <strong>Dragon Ball</strong>, Akira Toriyama <br>
                        <small>January 2022</small>
                      </p>
                      <div></div>
                      <p class="subtitle">
                        <strong>One Piece</strong>, Eiichiro Oda <br>
                        <small>December 2020</small>
                      </p>
                      <div></div>
                      <p class="subtitle">
                        <strong>One punch Man</strong>, Yusuke Murata <br>
                        <small>December 2019</small>
                      </p>
                  </article>
                </div>

                <div class="tile is-parent">
                  <article class="tile is-child box">
                    <h1 class="title">
                      Descarga tu manga:
                    </h1>
                    <div class="control is-loading">
                      <input class="input" type="text" placeholder="Inserta el URL">
                    </div>
                    <br>
          
                    <div class="buttons">
                      <button class="button is-primary">Descarga</button>
        
                    </div>
                
      
                  </article>
                </div>

              </div>
            
            </div>


            <div class="tile is-parent is is-vertical">
              <article class="tile is-child box">
                <br>
                <a href="https://github.com/DiegoServinHdn" target="_blank" class="blacklink">
                  <span class="icon-text has-text">
                    <span>Donaciones</span>
                  </span>
                </a>

              </article>
              <article class="tile is-child box">
                <h1 class="title">
                  Avisos:
                  <p>Text Box</p><br>
                  <p class="subtitle">
                    <strong>Seleccionar Capítulos:</strong><br>
                    <label class="checkbox">
                      <input type="checkbox">
                      Capítulo 1
                    </label>
                    <br>

                    <label class="checkbox">
                      <input type="checkbox">
                      Capítulo 2
                    </label>
                    <br>
                    <label class="checkbox">
                      <input type="checkbox">
                      Capitulo 3
                    </label>
                  </p>

                </h1>
              
              </article>
            </div>


            
          </div>
    </div>
  </section>
  </body>

  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>Proyecto Final</strong> by Equipo 11 Programación para Internet. The source code is licensed
        <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. Powered by <a href="https://bulma.io">Bulma</a>.
      </p>
    </div>
  </footer>
</html>